<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>

<body>
<h2>Employee Info (Информация о работнике)</h2>
<br>
<form th:action="@{/updateUser-{id}(id=${user.getId()})}" th:object="${user}" th:method="post" accept-charset="UTF-8">
    <hidden th:field="*{id}"/>
    <label>Name:</label>
    <input th:field="*{name}" type="text" id="name" style=position:absolute;left:8%; th:charset="UTF-8"/>
    <br><br>
    <label>Surname:</label>
    <input th:field="*{lastName}" type="text" id="surname" style=position:absolute;left:8%; th:charset="UTF-8"/>
    <br><br>
    <label>Department:</label>
    <input th:field="*{department}" type="text" id="department" style=position:absolute;left:8%; th:charset="UTF-8"/>
    <br><br>
    <label>Salary:</label>
    <input th:field="*{salary}" type="text" id="salary" style=position:absolute;left:8%; th:charset="UTF-8"/>
    <br><br>
    <input type="submit" value="OK">
</form>
</body>
</html>